body {
    margin: 0;
}

.menu_image {
    background-image: linear-gradient(to top,#333, white);
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
}


/* Set up for navigation bar */
ul {
    /* Gets rid of the bullet points */
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:#333;
    overflow: hidden;
    left: 0;
    width: 100%;
}

/* Organize Button Layout */
li a {
    display: block;
    text-align: center;
    color: white;
    padding: 14px 40px;
    /* Gets rid of underline link */
    text-decoration: none;
    font-family: "Roboto";
    font-size: 17px;
}

/* Makes buttons go from left to right */
li {
    float: left;
}

/* Moves log out button to the right */
li:last-child {
    float: right;
    border-right: none;
} 

li a:hover {
    background-color: #1089ff;
}