
/* Set a Blurry Background Image for Login PAage */

.bg-image {
    background-image: url("../images/background.jpg");

    /* add blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    text-align: center;
    
    height: 1000px;

    /* center background image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    z-index: -1;
}

/* This is for the CSUF Logo on the login page*/
.logo {
    width: 70%;
    height: 20%;
}

/* Login UI Box */
.login {
    background-color: #fcf9ea;
    color: #3c70a4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    text-align: center;
    padding: 10px;
    border-radius: 5%;
    font-family: 'Roboto';
    font-size: 1.5rem;
}

/* Error messages */
.error {
    color: red;
    font-weight: bold;
}

input {
    text-align: center;
    font-size: 1.5rem;
}

/* Login Button */
input[type=submit] {
    background-color: #ffb366;
    border-radius: 10%;
}

/* Makes sure background image spans the whole page */
html , .index-body {
    height:100%;
    width:100%;
    margin: 0;
}


/* ======================================================= */
/* Styles for Home Page */
.home-body {
    margin: 0;
}

.menu_image {
    background-image: linear-gradient(to top,#333, white);
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
}


/* Set up for navigation bar */
ul {
    /* Gets rid of the bullet points */
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:#333;
    overflow: hidden;
    left: 0;
    width: 100%;
}

/* Organize Button Layout */
li a {
    display: block;
    text-align: center;
    color: white;
    padding: 14px 40px;
    /* Gets rid of underline link */
    text-decoration: none;
    font-family: "Roboto";
    font-size: 17px;
}

/* Makes buttons go from left to right */
li {
    float: left;
}

/* Moves log out button to the right */
li:last-child {
    float: right;
    border-right: none;
} 

/* Highlights button of current page */
.active {
    background-color: #1089ff;
}

li a:hover {
    background-color: #1089ff;
}

h1 {
    font-family: "Roboto";
}

/* ======================================================= */
/* Styles for Header */

/*#header_time {
    float: right;
}*/

/* #clock_in_status { */
    /*float: right;
    position: absolute;*/  /* would prefer to keep this relative but eh */
   /* top: 20px;
    right: 0px;
} */

#clocked_in {
    color: #32ff6a;
}

#clocked_out {
    color: #ff0000;
}

.clock_in_status {
    display: block;
    text-align: center;
    color: white;
    padding: 14px 40px;
    font-family: "Roboto";
    font-size: 17px;
}


/* ========================================= */
/* Style for Hours Table */

#hours-table {
    font-family: "Roboto";
    border-collapse: collapse;
    width: 100%;
}

#hours-table td, #hourst-table th {
    border: 1px solid #ddd;
    padding: 8px;
    padding-left: 12px;
}

#hours-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#hours-table tr:hover {
    background-color: #ddd;
}

#hours-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    text-align: left;
    background-color: #1089ff;
    color: white;
}
