
/* Set a Blurry Background Image for Login PAage */
.bg-image {
    background-image: url("../images/background.jpg");

    /* add blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    text-align: center;
    
    height: 1000px;

    /* center background image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    z-index: -1;
}

/* This is for the CSUF Logo on the login page*/
.logo {
    width: 70%;
    height: 20%;
}

/* Login UI Box */
.login {
    background-color: #fcf9ea;
    color: #3c70a4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    text-align: center;
    padding: 10px;
    border-radius: 5%;
    font-family: 'Roboto';
    font-size: 1.5rem;
}

input {
    text-align: center;
    font-size: 1.5rem;
}

/* Login Button */
input[type=submit] {
    background-color: #ffb366;
    border-radius: 10%;
}

/* Makes sure background image spans the whole page */
html , body {
    height:100%;
    width:100%;
}
